<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: common_head('Login')}"></head>
<body class="auth-page sticky-footer-layout">

<div th:replace="~{fragments/header :: header}"></div>

<main class="auth-container">
    <div class="container">
        <h2>Login</h2>

        <div th:if="${success}" class="alert alert-success">
            <p th:text="${success}"></p>
        </div>

        <div th:if="${param.error}" class="alert alert-error">
            <p>Email ou senha inválidos, tente novamente.</p>
        </div>

        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="username" required>
            </div>

            <div class="form-group">
                <label>Senha:</label>
                <input type="password" name="password" required>
            </div>

            <button type="submit" class="btn">Entrar</button>
        </form>

        <p class="auth-link">Não tem uma conta? <a th:href="@{/register}">Cadastre-se</a></p>
    </div>
</main>

<div th:replace="~{fragments/footer :: footer}"></div>
<script th:src="@{/js/script.js}" defer></script>
</body>
</html>