<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="main-footer" th:fragment="footer">
    <div class="container">
        <p>© 2025 Acredite Se Quiser Podcast. Todos os direitos reservados.</p>
        <div class="social-links">
            <a href="https://www.instagram.com/acreditesequiserpodcast"><i class="fab fa-instagram"></i></a>
            <a href="https://open.spotify.com/show/6pcUCnGJCBf8XFiJkjQcms"><i class="fab fa-spotify"></i></a>
        </div>
        <p>site desenvolvido por &lt;/&gt; <a href="https://cahf.com.br" target="_blank" rel="noopener noreferrer">cahf</a></p>
    </div>
</footer>
</body>
</html>