<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="header">
    <div class="logo">
        <h1>Meu site</h1>
    </div>
    <nav>
        <ul>
            <li><a th:href="@{/}">Início</a></li>
            <li><a th:href="@{/episodios}">Episódios</a></li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Sair</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Entrar</a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>
